<div class={{labelWrapperClass}}>
  <label for={{inputId}} class={{labelClass}}>
    {{label}}
  </label>
</div>
<div class={{inputWrapperClass}}>
  {{input id=inputId value=value type=inputType disabled=disabled
    autocapitalize=autocapitalize autocorrect=autocorrect}}
</div>
